@media (max-width: 500px) {
    .home .content-section .text-content {
      width: 100%;
    }
    
    .home .content-section .img-content {
      width: 100%;
    }
    
    .image-content {
      width: 100%;
    }
    
    .hi {
      display: none;
    }
    
    .home .content-destination {
      width: 100%;
    }
    }
    
  
    
    